# $Id$
# Last modified Mon Apr 20 21:58:25 2009 on violator
# update count: 15

include INSTALL README UPGRADE subdms.cfg 
include setup.py 
recursive-include subdms/ *.py
recursive-include subdms/templates *
