# $Id$
# Last modified Mon Mar 16 22:48:55 2009 on violator
# update count: 14

include README INSTALL subdms.cfg 
include setup.py 
recursive-include subdms/ *.py
recursive-include subdms/templates *
